* {
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  color: #222222;
  font-family: "Source Sans Pro";
  font-size: 1rem;
  line-height: 1.4; }

@media screen and (min-width: 600px) {
  body {
    font-size: 1.25rem; } }

h1, h2, h3 {
  margin-top: 1.75rem;
  color: #662a73;
  font-family: 'Contrail One';
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-transform: uppercase;
  margin-bottom: 1.75rem;
  position: relative; }

h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  top: 4px; }

h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  top: 4px; }

h3 {
  font-size: 2rem;
  line-height: 3.5rem;
  top: 8px; }

@media screen and (min-width: 600px) {
  h1 {
    font-size: 4rem;
    line-height: 5.25rem;
    top: 14px; }
  h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    top: 4px; }
  h3 {
    font-size: 2rem;
    line-height: 3.5rem;
    top: 8px; } }

h4, h5, h6 {
  color: #662a73;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1 rem; }

h6 {
  font-size: 1 rem; }

p {
  margin-top: 0;
  margin-bottom: 1.75rem; }

strong {
  vertical-align: top; }

ul, ol {
  margin: 1.75rem 0;
  padding: 0 0 0 1.5em; }
  ul ul, ul ol, ol ul, ol ol {
    margin-top: 0;
    margin-bottom: 0; }

ul > li, li ul > li {
  list-style-type: disc; }

ol > li, li ol > li {
  list-style-type: decimal; }

a {
  color: #662a73;
  text-decoration: none;
  font-weight: bold;
  vertical-align: top; }
  a:visited {
    color: #383838; }
  a:hover {
    color: black;
    background-color: #bad5dc; }
  a:active {
    background-color: #662a73;
    color: white; }

button, input[type="submit"], a.button {
  display: inline-block;
  background-color: #bad5dc;
  background-color: white;
  color: white;
  text-align: center;
  border-radius: 3px;
  border-style: none;
  padding: 0.4375rem 1em;
  font-size: 1.75rem;
  font-family: 'Contrail One';
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  line-height: 1.4;
  margin-bottom: 0.875rem;
  margin-top: 1.75rem;
  font-size: 1.25rem;
  color: #222222;
  transition: background-color 0.2s;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }
  button.primary, input[type="submit"].primary, a.button.primary {
    background-color: #ffa018;
    color: black; }
  button:hover, input[type="submit"]:hover, a.button:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); }
  button:active, input[type="submit"]:active, a.button:active {
    transform: translateY(-1px);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3) inset; }
  button.caution:hover, input[type="submit"].caution:hover, a.button.caution:hover {
    background-color: #dd3333; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    display: inline-block; }
    input[type="checkbox"] + label:before {
      background-image: url("../images/sprite.png");
      background-position: -96px 0;
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5rem;
      content: ""; }
  input[type="checkbox"]:checked + label {
    color: #315f16;
    font-weight: bold; }
    input[type="checkbox"]:checked + label:before {
      background-position: -72px 0; }

ul.actions {
  margin: 0 -1rem 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  ul.actions li {
    margin: 0 1rem 0 0;
    padding: 0;
    display: inline-block;
    flex: 1 0; }
    ul.actions li:last-child {
      flex: 2 0; }
    ul.actions li a {
      margin: 0.875rem 0 0.875rem 0;
      display: block;
      white-space: pre; }

@media screen and (min-width: 1000px) {
  ul.actions {
    width: 100%;
    margin-right: 0; } }

.img-overlay .layout-container .img img {
  border: solid 1px #662a73;
  width: 100%;
  height: auto;
  display: block; }

.img-overlay .layout-container .img-text {
  padding: 1px 2rem;
  background-color: #662a73;
  color: white; }
  .img-overlay .layout-container .img-text h1 {
    color: white; }
  .img-overlay .layout-container .img-text a, .img-overlay .layout-container .img-text a:visited {
    color: white;
    text-decoration: underline; }
  .img-overlay .layout-container .img-text a:hover {
    background-color: white;
    color: #662a73; }

@media screen and (min-width: 1000px) {
  .img-overlay {
    background-image: url("../images/mega.svg");
    background-size: 100% 100%;
    position: relative; }
    .img-overlay .bg-image {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1; }
    .img-overlay .layout-container {
      display: flex;
      align-items: center; }
      .img-overlay .layout-container .img {
        flex: 1 1 60%;
        margin: 1.75rem 0 0; }
      .img-overlay .layout-container .img-text {
        flex: 1 1 40%;
        background-color: transparent; } }

span.sprite {
  background-image: url("../images/sprite.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem; }
  span.sprite.location {
    background-position: 0px 0; }
  span.sprite.issue {
    background-position: -24px 0; }
  span.sprite.resource {
    background-position: -48px 0; }
  span.sprite.action {
    background-position: -72px 0; }
  span.sprite.todo {
    background-position: -96px 0; }
  span.sprite.fossil-free {
    background-position: -120px 0; }

.bg {
  padding: 1px 0 3.5rem;
  background-repeat: repeat;
  position: relative; }
  .bg:before {
    top: 0;
    left: 0;
    background-image: url("../images/hr.png");
    background-size: 100% 100%;
    content: "";
    display: block;
    height: 6px;
    width: 100%;
    position: absolute;
    margin-top: -3px; }
  .bg.paper {
    background-image: url("../images/paperXwrinkle.jpg"); }
  .bg.wall {
    background-image: url("../images/wall.jpg"); }
  .bg.network {
    background-image: url("../images/network.png"); }
  .bg.line-after:after {
    background-image: url("../images/hr.png");
    background-size: 100% 100%;
    content: "";
    display: block;
    height: 6px;
    width: 100%;
    position: absolute;
    margin-top: -3px;
    bottom: 0; }

.map-layout {
  display: flex; }
  .map-layout .text {
    flex: 0 0 60%;
    padding-right: 2rem; }
    .map-layout .text aside {
      margin-top: 1.75rem;
      padding: 1.75rem 2rem 1.75rem; }
      .map-layout .text aside h2 {
        margin-top: 0; }
  .map-layout .map {
    flex: 0 0 40%; }
    .map-layout .map img {
      display: block;
      margin: 0 auto;
      max-height: 80vh;
      max-width: auto; }

.purple {
  color: #662a73; }

.green {
  color: #315f16; }

body {
  background-size: 100% 28px;
  background-position: left -7px;
  padding: 1.75rem 0;
  margin: 0; }

.layout-container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 1rem; }

@media screen and (min-width: 600px) {
  .layout-container {
    padding: 0 2rem; } }

.swatch .sample {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1.75rem;
  width: 9.625rem;
  height: 8.75rem;
  text-align: center;
  padding: 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  vertical-align: top; }

#styler-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 1.75rem;
  background-color: #383838;
  color: white;
  display: flex;
  font-size: 1rem;
  padding: 0 1rem;
  z-index: 2; }
  #styler-header a, #styler-header a:visited {
    color: white; }
  #styler-header ul.styler-menu {
    display: none;
    position: absolute;
    left: 0;
    margin: 0;
    min-width: 20rem;
    background-color: #383838; }
  #styler-header > div.styler-menu {
    display: block;
    position: relative;
    margin-left: 1rem;
    margin-right: 2rem;
    padding: 0 1rem;
    min-height: 1.75rem;
    flex: 0; }
    #styler-header > div.styler-menu a, #styler-header > div.styler-menu a:visited {
      color: #ffa018; }
    #styler-header > div.styler-menu:hover ul.styler-menu {
      display: block; }
  #styler-header > div.title {
    flex: 1; }
